
[Desktop Entry]
Name=Evolution Alarm Notifier
Comment=Ensures that alarms set in Evolution go off at the appropriate time
Icon=stock_alarm
Exec=/usr/lib/evolution/2.28/evolution-alarm-notify
Terminal=false
Type=Application
OnlyShowIn=GNOME;
Categories=
X-GNOME-Autostart-Delay=30
X-Ubuntu-Gettext-Domain=evolution-2.28
X-GNOME-Autostart-enabled=false
