#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gdu-category-multipath
Name[en_US]=A2jmidid
Exec=xterm +sm -hold -e a2jmidid -e
Comment[en_US]=Daemon for exposing legacy ALSA MIDI in JACK MIDI systems
Name=A2jmidid
Comment=Daemon for exposing legacy ALSA MIDI in JACK MIDI systems
Icon=gdu-category-multipath
